/* 
    Created on : 11/08/2016, 12:34:26 AM
    Author     : Noah_Nathan
*/
/*-------Table (Registration Form)---------*/
.btn {
    width: 5cm;
    padding: 2px;
    /*font-size: 12pt;*/
    /*border-radius: 6pt;*/
    margin: auto;
}
.tb1 {
    padding: 10px;
}
.tr1 { 
}
.td1 {
    padding: 5px;
}
/*----------------Headers------------------*/
.tbl_header {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
/*---------------Messages------------------*/
.reg_msg {
    color: green;
    text-align: center;
}
.login_msg {
    color: green;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10px;
}
.login_fail_msg {
    color: green;
    margin-left: 10px;
}
.confirm_msg {
    color: green;
    margin-left: 10px;
}
/*----------------Login Fields------------------*/
.indent_01{
    float: left;
   	margin: 10px;
   	min-width: 50px;
   	max-width: 600px;
}
/*-----------------Temp--------------------*/
.div_user {
}
.tbl_user {
    margin: auto;
    border-style: solid;
}
.th_user {
    border-style: solid; 
    border-width: .5px;
    font-weight: bold;
}
.td_user {
    border-style: solid; 
    border-width: .5px;
    padding: 5px;
}
/*-----------------------------------------*/
