/* 
    Created on : 11/08/2016, 12:34:26 AM
    Author     : Noah_Nathan
*/
/*-------Table (Registration Form)---------*/
.btn {
    width: 5cm;
    padding: 2px;
    /*font-size: 12pt;*/
    /*border-radius: 6pt;*/
    margin: auto;
}
.tb1 {
    padding: 10px;
}
.tr1 { 
}
.td1 {
    padding: 5px;
}
.input_reg_form  {
	width: 250px;	
}
/*----------------Headers------------------*/
.tbl_header {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
/*---------------Messages------------------*/
.reg_success_msg {
    color: green;
    text-align: center;
}
.welcome_msg {
    color: green;
    font-weight: bold;
    /*font-size: 20pt;
    text-align: center;
    margin: 10px;*/
}
.login_fail_msg {
    color: green;
    text-align: center;
}
.logout_msg {
    color: green;
    margin-left: 10px;
    /*text-align: center;*/
}
.error {
	color: red;
	font-style: italic;
}
/*----------------Login Fields------------------*/
.indent_01{
    float: left;
   	margin: 10px;
   	min-width: 50px;
   	max-width: 600px;
}
/*-----------------Temp--------------------*/
.div_user {
}
.tbl_user {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
}
.th_user {
    border: 1px solid black;
    font-weight: bold;
}
.td_user {
    border: 1px solid black;
    padding: 10px;
}
/*---------------Drop Menus-----------------*/
.user_settings_drop_menu {
    right: 0px;
	/*display-image: src="..\resources\images\tmato.png";*/
	margin-left:  10px;
}
/*-----------------------------------------*/
.td_settings {
	vertical-align: top;
    text-align: right;
}
/*-----------------------------------------*/
.login_status {
	margin-right:  20px;
	color: Green;
	font-weight: bold;
}
.spacer{
	margin-left:  10px;		
}
/*-----------------------------------------*/